<!DOCTYPE HTML>
<html>
    <head>
        <title>Blog App</title>
        <!--SEMANTIC UI IS LIKE BOOTSTRAP-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">  <!-- NAVBAR IN SEMANTIC UI CALLED MENU -->
            <div class="ui container">    <!-- PUTS EVERYTHING IN CONTAINER LIKE BOOTSTRAP -->
                <div class="header item"><i class="code icon"></i>Blog Site</div> <!-- SIMILAR TO HEADER BRAND IN BOOTSTRAP -->
                <a href="/" class="item"><i class="home icon"></i>Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        
    