<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label>Title<input type="text" name="title" placeholder="Title"></label>
        </div>
        <div class="field">
            <label>Image<input type="text" name="image" placeholder="Image URL"></label>
        </div>
        <div class="field">
            <label>Blog Content<textarea name="body" placeholder="Blog Post goes here."></textarea></label>
        </div>
        <input class="ui green big fluid button" type="submit">
    </form>
</div>

<% include partials/footer.ejs %>